.articleCard {
  background-color: #fff;
  margin-bottom: 26px;
  padding: 20px;

  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.124);
  width: 1100px;
  height: 150px;
  margin: auto;
  margin-top: 26px;
}
.paragraph {
  width: 75%;
}
